/* body{
  background-color: rgb(124, 119, 119);
} */
*{
  margin: 0;
  padding: 0;
}
/* .App{

  background-image: url(./Images/hope.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
} */

.propsss{
  color: white;
}